.menu {
  margin: 3.2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.menuLink {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  background-color: var(--primary);
  color: var(--text-over-primary);
  padding: 1.2rem;
  border-radius: 0.8rem;
}

.menuLink:hover {
  filter: brightness(80%);
  transition: all 0.2s ease-in-out;
}

.menuLink svg {
  height: 2.4rem;
  width: 2.4rem;
}
